{% import settings %}
<!DOCTYPE html>
<!--
 	Copyright 2013, Richard Brunt

	This file is part of PiTunes.
	
	PiTunes is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	PiTunes is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with PiTunes.  If not, see <http://www.gnu.org/licenses/>. -->
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/fineuploader/client/fineuploader.css">
	<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="static/css/font-awesome.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="container">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a href="" class="brand"><i class="icon-music"></i> PiTunes</a>
					{% if settings.ALLOW_UPLOADS %}
					<ul class="nav">
						<li class="divider-vertical"></li>
						<li><a id="uploadbtn" href="#uploadModal" data-toggle="modal"><i class="icon-upload-alt"></i>Upload</a></li>
						<li class="divider-vertical"><li>
					</ul>
					{% end %}
					<p class="navbar-text pull-left">Now playing: <strong><span onclick="getNowPlaying();" id="nowplaying"></span></strong></p>
					<form class="navbar-form pull-right">
							<div class="btn-group" data-toggle="buttons-checkbox">
								<button class="btn" id="shufflebtn" type="button" title="Shuffle"><i class="icon-random"></i></button>
								<button class="btn active" id="repeatbtn" type="button" title="Repeat"><i class="icon-repeat"></i></button>
							</div>
							<div class="btn-group">
								<button class="btn" id="prevbtn" type="button" onclick="prevsong();"><i class="icon-step-backward"></i></button>
								<button class="btn btn-primary" id="playpausebtn" type="button" onclick="playPause();"><i class="icon-play"></i></button>
								<button class="btn" id="nextbtn" type="button" onclick="nextsong();"><i class="icon-step-forward"></i></button>
							</div>
						<input id="target" class="search-query" type="text" placeholder="Search" onkeyup="getSearchResults()">
					</form>
				</div>
			</div>
		</div>

		<div class="row" id="controls">
				<p class="pull-left span2" id="elapsedtime">3:23<p>
				<div class="progress span9" id="timebarouter"><div id="timebar" class="bar" style="width: 0%;"></div></div>
				<p class="pull-right span1" id="timeremaining">-1:03</p>
    	</div>

		<div id="results">
			<ul id="resultlist">
				<p>Type a search term</p>
			</ul>	
		</div>

    	<div id="uploadModal" class="modal hide fade">
    		<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    			<h3>Upload songs</h3>
    		</div>
     		<div id="uploadbox" class="modal-body">
    			<p>To upload a song or album, just drag and drop them onto this window, or browse for them on your computer</p>
    			<div id="bootstrapped-fine-uploader"></div>
    		</div>
    		<div class="modal-footer">
    			<a href="#" class="btn btn-active" data-dismiss="modal">Close</a>
    		</div>
    	</div>

	</div>

	<footer class="footer">
		<div id="container">
			<p>PiTunes by <a href="http://richardbrunt.co.uk/">Richard Brunt</a></p>
			<p><a href="https://github.com/rbrunt/PiTunes"><i class="icon-github"></i></a></p>
		</div>
	<footer>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/functions.js"></script>
	<script src="static/fineuploader/client/fineuploader.js"></script>
	
	<script> // Builds the fineuploader:
		function createUploader() {
			var uploader = new qq.FineUploader({
				element: document.getElementById('bootstrapped-fine-uploader'),
				validation: {
					allowedExtensions: ["mp3","ogg","flac","m4a"]
				},
				forceMulitpart: false,
				request: {
					endpoint: '/XHR_Upload'
				},
				text: {
					uploadButton: '<i class="icon-upload icon-white"></i> Click here to browse, or drag and drop a file to upload'
				},
				template: '<div class="qq-uploader">' +
						'<pre class="qq-upload-drop-area"><span>{dragZoneText}</span></pre>' +
						'<div class="qq-upload-button btn btn-success" style="width: auto;">{uploadButtonText}</div>' +
						'<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
						'<ul class="qq-upload-list" style="margin-top: 10px; text-align: center;"></ul>' +
						'</div>',
				classes: {
					success: 'alert alert-success',
					fail: 'alert alert-error'
				},
				showMessage: function(message) { // message if wrong file type...
					$('#uploadbox').append('<div class="alert alert-error">' + message + '</div>');
				},
				debug: false
			});
		}
		window.onload = createUploader;
	</script>
</body>
</html>
